<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipeapp_1" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Recipe App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeApp_1" >
        <activity
            android:name=".activity.EditIngredientsActivity"
            android:exported="false"
            android:label="Edit Ingredients" />
        <activity
            android:name=".activity.EditStepsActivity"
            android:exported="false"
            android:label="Edit Steps" />
        <activity
            android:name=".activity.EditDetailsActivity"
            android:exported="false"
            android:label="Edit Recipe Details" />
        <activity
            android:name=".activity.RecipeDetailsActivity"
            android:exported="false"
            android:label="Recipe Details"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.AddRecipeActivity"
            android:exported="false"
            android:label="Add New Recipe"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>